%butn {
	display: inline-block;
	cursor: pointer;
	border-radius: .15em;
	padding: .2em .6em;
	text-align: center;
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: $neutral-100;
		color: $triadic-orange-500;
	}
}

.btn-main {
	@extend %butn;
	color: $neutral-100;
	background-color: $triadic-orange-500;
	border: none;
	font-weight: 500;
}
.btn-add-cart {
	@extend %butn;
	color: $neutral-100;
	background-color: $triadic-orange-500;
	border: none;
	font-weight: 400;
	transition: transform 200ms ease-out;
	&:hover,
	&:focus {
		text-decoration: none;
		color: $neutral-100;
		background-color: $triadic-red-400;
		transform: scale(1.08);
	}
}
.btn-back {
	@extend %butn;
	background-color: $triadic-orange-500;
	color: $neutral-100;
	font-weight: 400;
	transition: transform 200ms ease;
	border: none;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $triadic-orange-500;
		background-color: $neutral-900;
		transform: scale(1.08);
	}
}
.btn-remove {
	@extend %butn;
	color: $neutral-100;
	background-color: $triadic-red-400;
	border: none;
	font-weight: 600;
	transition: transform 200ms ease;
	&:hover,
	&:focus {
		text-decoration: none;
		color: $neutral-100;
		background-color: darken($color: $triadic-red-400, $amount: 10%);
		transform: scale(1.08);
	}
}
