.wrapper-cart {
	margin-top: 5rem;
	.img-container-cart {
		margin-top: 2rem;
		img {
			width: 300px;
		}
	}
	.cart-items {
		ul {
			list-style: none;
			li {
				.cart-items-container {
					display: flex;
					justify-content: start;
					align-items: center;
					.cart-item-specs {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						.cart-item-img {
							max-width: 6.25rem;
						}
					}
					.cart-item-btn-container {
						display: flex;
						justify-content: space-around;
						align-items: center;
					}
				}
			}
		}
	}
}
