main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 5rem auto;

	.customCard {
		margin: 1rem;
		.card {
			overflow: hidden;
			transition: all 750ms ease;
			border: 2px solid $triadic-orange-500;
			width: 18rem;
			height: 25rem;
			&:hover,
			&:focus {
				transform: scale(1.05);
				border: 3px solid $triadic-red-400;
			}

			.card-body {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-image: linear-gradient($neutral-100, lighten($triadic-yellow-600, 20%), lighten($triadic-orange-500, 20%));

				.card-title {
					font-size: 2rem;
					font-weight: 700;
					color: $neutral-900;
				}
				.card-text {
					color: $triadic-red-400;
					font-size: 1.2rem;
					font-weight: 600;
					span {
						color: $neutral-900;
						font-weight: 500;
					}
				}
				.btn-container {
					display: flex;
					justify-content: space-between;
				}
			}
		}
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	}
}
