main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 5rem auto;

	.customCard {
		margin: 1rem;
		.card {
			overflow: hidden;

			border: 3px solid $triadic-orange-500;
			width: 18rem;
			height: 25rem;

			.card-body {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-image: linear-gradient($neutral-100, lighten($triadic-orange-500, 30%));

				.card-title {
					font-size: 2rem;
					font-weight: 700;
					color: $neutral-900;
					position: relative;

					&::after {
						content: "";
						position: absolute;
						height: 3px;
						bottom: -3px;
						width: 100%;
						opacity: 0.8;
						background: $triadic-orange-500;
						left: 0;
						transform-origin: center;
						transform: scale(0);
						transition: transform .5s ease;
					}
				}
				.card-text {
					color: $triadic-red-400;
					font-size: 1.5rem;
					font-weight: 600;
					position: relative;
					span {
						color: $neutral-900;
						font-weight: 500;
					}
				}
				.btn-container {
					display: flex;
					justify-content: space-between;
				}
			}
		}
		@media (hover) {
			.card {
				transition: all 750ms ease;
				&:hover,
				&:focus-within {
					transform: scale(1.05);
					border: 3px solid $triadic-red-400;
				}
				&:hover > .card-body > .card-title::after {
					transform: scale(1);
					background: $triadic-red-400;
				}
			}
		}
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	}
}
